<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pado.inflow.vacation.query.repository.VacationTypeMapper">
    <resultMap id="vacationTypeResultMap" type="com.pado.inflow.vacation.query.dto.VacationTypeDTO">
        <id property="vacationTypeId" column="vacation_type_id"/>
        <result property="vacationTypeName" column="vacation_type_name"/>
    </resultMap>

    <select id="findVacationTypes" resultMap="vacationTypeResultMap">
        SELECT
               vacation_type_id
             , vacation_type_name
          FROM vacation_type
         ORDER BY vacation_type_id
    </select>
</mapper>