<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pado.inflow.attendance.query.repository.AttendanceRequestTypeMapper">
    <resultMap id="attendanceRequestTypeResultMap" type="com.pado.inflow.attendance.query.dto.AttendanceRequestTypeDTO">
        <id property="attendanceRequestTypeId" column="ATTENDANCE_REQUEST_TYPE_ID"/>
        <result property="attendanceRequestTypeName" column="ATTENDANCE_REQUEST_TYPE_NAME"/>
        <result property="attendanceRequestTypeDescription" column="ATTENDANCE_REQUEST_TYPE_DESCRIPTION"/>
    </resultMap>

    <select id="findAttendanceRequestTypes" resultMap="attendanceRequestTypeResultMap">
        SELECT
               A.ATTENDANCE_REQUEST_TYPE_ID
             , A.ATTENDANCE_REQUEST_TYPE_NAME
             , A.ATTENDANCE_REQUEST_TYPE_DESCRIPTION
          FROM ATTENDANCE_REQUEST_TYPE A
    </select>

</mapper>