<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pado.inflow.attendance.query.repository.BusinessTripMapper">
    <resultMap id="businessTripResultMap" type="com.pado.inflow.attendance.query.dto.BusinessTripDTO">
        <id property="businessTripId" column="business_trip_id"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="tripType" column="trip_type"/>
        <result property="destination" column="destination"/>
        <result property="employeeId" column="employee_id"/>
        <result property="attendanceRequestId" column="attendance_request_id"/>
    </resultMap>

    <select id="findBusinessTripsByEmployeeId" resultMap="businessTripResultMap" parameterType="map">
        SELECT
               A.business_trip_id
             , A.start_date
             , A.end_date
             , A.trip_type
             , A.destination
             , A.employee_id
             , A.attendance_request_id
          FROM business_trip A
         WHERE A.employee_id = #{ employeeId }
         ORDER BY A.business_trip_id DESC
         LIMIT #{ elementsPerPage } OFFSET #{ offset }
    </select>

    <select id="getTotalBusinessTripsByEmployeeId" resultType="Integer" parameterType="Long">
        SELECT
               COUNT(*) AS TOTAL
          FROM business_trip A
         WHERE A.employee_id = #{ employeeId }
    </select>

</mapper>