<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pado.inflow.attendance.query.repository.LeaveReturnMapper">
    <resultMap id="leaveReturnResultMap" type="com.pado.inflow.attendance.query.dto.LeaveReturnDTO">
        <id property="leaveReturnId" column="leave_return_id"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="employeeId" column="employee_id"/>
        <result property="attendanceRequestId" column="attendance_request_id"/>
    </resultMap>

    <select id="findLeaveReturnsByEmployeeId" resultMap="leaveReturnResultMap" parameterType="map">
        SELECT
               A.leave_return_id
             , A.start_date
             , A.end_date
             , A.employee_id
             , A.attendance_request_id
          FROM leave_return A
         WHERE A.employee_id = #{ employeeId }
         ORDER BY A.leave_return_id DESC
         LIMIT #{ elementsPerPage } OFFSET #{ offset }
    </select>

    <select id="getTotalLeaveReturnsByEmployeeId" resultType="Integer" parameterType="Long">
        SELECT
               COUNT(*) AS TOTAL
          FROM leave_return A
         WHERE A.employee_id = #{ employeeId }
    </select>

    <select id="findTodayLeaveByEmployeeId" resultMap="leaveReturnResultMap" parameterType="Long">
        SELECT
               A.leave_return_id
             , A.start_date
             , A.end_date
             , A.employee_id
             , A.attendance_request_id
          FROM leave_return A
         WHERE A.employee_id = #{ employeeId }
           AND CURRENT_DATE BETWEEN DATE(A.start_date) AND DATE(A.end_date)
    </select>

</mapper>