<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pado.inflow.statistics.query.repository.EmployeeNumMapper">
    <resultMap id="ResultMap" type="com.pado.inflow.statistics.query.dto.EmployeeNumDTO" autoMapping="true">
        <result property="year" column="YEAR"/>
        <collection property="monthly" column="YEAR" ofType="com.pado.inflow.statistics.query.dto.MonthlyEmployeeNumDTO" autoMapping="true">
            <result property="month" column="month"/>
            <result property="half" column="half"/>
            <result property="totalEmployeeNum" column="totalEmployeeNum"/>
            <result property="joinedEmployeeNum" column="joinedEmployeeNum"/>
            <result property="leftedEmployeeNum" column="leftedEmployeeNum"/>
        </collection>
    </resultMap>
    
    <select id="getAllYears" resultMap="ResultMap" parameterType="string">
        SELECT
               year
             , month
             , half
             , total_employee_num as totalEmployeeNum
             , joined_employee_num as joinedEmployeeNum
             , lefted_employee_num as leftedEmployeeNum
          FROM MONTHLY_EMPLOYEE_NUM_STATISTICS
         <where>
             <if test="year != null">
                 year = #{year}
             </if>
         </where>
         GROUP BY YEAR
         ORDER BY YEAR DESC
    </select>
</mapper>