<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pado.inflow.statistics.query.repository.TaskEvaluationMapper">
    <resultMap id="ResultMap" type="com.pado.inflow.statistics.query.dto.TaskEvaluationDTO" autoMapping="true">
        <result property="year" column="YEAR"/>
        <collection property="half" column="half" ofType="com.pado.inflow.statistics.query.dto.HalfTaskEvaluation" autoMapping="true">
            <result property="" column=""/>

        </collection>
    </resultMap>
    
    <select id="getYearlyTE" resultMap="ResultMap" parameterType="string">

    </select>

    <select id="getDeptTE" resultMap="ResultMap" parameterType="string">

    </select>
</mapper>