<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pado.inflow.employee.attach.query.repository.AllAttachedInfoMapper">
    <resultMap id="ResultMap1" type="com.pado.inflow.employee.attach.query.dto.AllAttachedInfoDTO">
        <!-- 기본 엔티티 매핑 -->
        <result property="employeeId" column="EMPLOYEE_ID"/>
        <result property="employeeNumber" column="EMPLOYEE_NUMBER"/>

        <!-- Career 컬렉션 매핑 -->
        <collection property="careers" ofType="com.pado.inflow.employee.attach.query.dto.CareerDTO">
            <result property="careerId" column="CAREER_ID"/>
            <result property="companyName" column="COMPANY_NAME"/>
            <result property="roleName" column="ROLE_NAME"/>
            <result property="joinDate" column="JOIN_DATE"/>
            <result property="resignationDate" column="RESIGNATION_DATE"/>
            <result property="employeeId" column="EMPLOYEE_ID"/>
        </collection>

        <!-- Education 컬렉션 매핑 -->
        <collection property="educations" ofType="com.pado.inflow.employee.attach.query.dto.EducationDTO">
            <result property="educationId" column="EDUCATION_ID"/>
            <result property="schoolName" column="SCHOOL_NAME"/>
            <result property="admissionDate" column="ADMISSION_DATE"/>
            <result property="graduationDate" column="GRADUATION_DATE"/>
            <result property="degree" column="DEGREE"/>
            <result property="major" column="MAJOR"/>
            <result property="employeeId" column="EMPLOYEE_ID"/>
        </collection>

        <!-- FamilyMember 컬렉션 매핑 -->
        <collection property="familyMembers" ofType="com.pado.inflow.employee.attach.query.dto.FamilyMemberDTO">
            <result property="familyMemberId" column="FAMILY_MEMBER_ID"/>
            <result property="name" column="NAME"/>
            <result property="birthDate" column="BIRTH_DATE"/>
            <result property="employeeId" column="EMPLOYEE_ID"/>
            <result property="familyRelationshipName" column="FAMILY_RELATIONSHIP_NAME"/>
        </collection>

        <!-- LanguageTest 컬렉션 매핑 -->
        <collection property="languageTests" ofType="com.pado.inflow.employee.attach.query.dto.LanguageTestDTO">
            <result property="languageTestId" column="LANGUAGE_TEST_ID"/>
            <result property="languageTestName" column="LANGUAGE_TEST_NAME"/>
            <result property="qualificationNumber" column="QUALIFICATION_NUMBER"/>
            <result property="issuer" column="ISSUER"/>
            <result property="qualifiedAt" column="QUALIFIED_AT"/>
            <result property="gradeScore" column="GRADE_SCORE"/>
            <result property="employeeId" column="EMPLOYEE_ID"/>
            <result property="languageName" column="LANGUAGE_NAME"/>
            <result property="testDate" column="TEST_DATE"/>
        </collection>

        <!-- Qualification 컬렉션 매핑 -->
        <collection property="qualifications" ofType="com.pado.inflow.employee.attach.query.dto.QualificationDTO">
            <result property="qualificationId" column="QUALIFICATION_ID"/>
            <result property="qualificationName" column="QUALIFICATION_NAME"/>
            <result property="qualificationNumber" column="QUALIFICATION_NUMBER"/>
            <result property="qualifiedAt" column="QUALIFIED_AT"/>
            <result property="issuer" column="ISSUER"/>
            <result property="gradeScore" column="GRADE_SCORE"/>
            <result property="employeeId" column="EMPLOYEE_ID"/>
        </collection>

        <!-- DisciplineReward 컬렉션 매핑 -->
        <collection property="disciplineRewards" ofType="com.pado.inflow.employee.attach.query.dto.DisciplineRewardDTO">
            <result property="disciplineRewardName" column="DISCIPLINE_REWARD_NAME"/>
            <result property="content" column="CONTENT"/>
            <result property="createdAt" column="CREATED_AT"/>
        </collection>
    </resultMap>

    <resultMap id="ResultMap2" type="com.pado.inflow.employee.attach.query.dto.DeptAttachedInfoDTO">
        <!-- 기본 엔티티 매핑 -->
        <result property="departmentCode" column="DEPARTMENT_CODE"/>
        <result property="departmentName" column="DEPARTMENT_NAME"/>

        <collection property="employeesInfo" ofType="com.pado.inflow.employee.attach.query.dto.AllAttachedInfoDTO">
            <result property="employeeId" column="EMPLOYEE_ID"/>
            <result property="employeeNumber" column="EMPLOYEE_NUMBER"/>

            <!-- Career 컬렉션 매핑 -->
            <collection property="careers" ofType="com.pado.inflow.employee.attach.query.dto.CareerDTO">
                <result property="careerId" column="CAREER_ID"/>
                <result property="companyName" column="COMPANY_NAME"/>
                <result property="roleName" column="ROLE_NAME"/>
                <result property="joinDate" column="JOIN_DATE"/>
                <result property="resignationDate" column="RESIGNATION_DATE"/>
                <result property="employeeId" column="EMPLOYEE_ID"/>
            </collection>

            <!-- Education 컬렉션 매핑 -->
            <collection property="educations" ofType="com.pado.inflow.employee.attach.query.dto.EducationDTO">
                <result property="educationId" column="EDUCATION_ID"/>
                <result property="schoolName" column="SCHOOL_NAME"/>
                <result property="admissionDate" column="ADMISSION_DATE"/>
                <result property="graduationDate" column="GRADUATION_DATE"/>
                <result property="degree" column="DEGREE"/>
                <result property="major" column="MAJOR"/>
                <result property="employeeId" column="EMPLOYEE_ID"/>
            </collection>

            <!-- FamilyMember 컬렉션 매핑 -->
            <collection property="familyMembers" ofType="com.pado.inflow.employee.attach.query.dto.FamilyMemberDTO">
                <result property="familyMemberId" column="FAMILY_MEMBER_ID"/>
                <result property="name" column="NAME"/>
                <result property="birthDate" column="BIRTH_DATE"/>
                <result property="employeeId" column="EMPLOYEE_ID"/>
                <result property="familyRelationshipName" column="FAMILY_RELATIONSHIP_NAME"/>
            </collection>

            <!-- LanguageTest 컬렉션 매핑 -->
            <collection property="languageTests" ofType="com.pado.inflow.employee.attach.query.dto.LanguageTestDTO">
                <result property="languageTestId" column="LANGUAGE_TEST_ID"/>
                <result property="languageTestName" column="LANGUAGE_TEST_NAME"/>
                <result property="qualificationNumber" column="QUALIFICATION_NUMBER"/>
                <result property="issuer" column="ISSUER"/>
                <result property="qualifiedAt" column="QUALIFIED_AT"/>
                <result property="gradeScore" column="GRADE_SCORE"/>
                <result property="employeeId" column="EMPLOYEE_ID"/>
                <result property="languageName" column="LANGUAGE_NAME"/>
                <result property="testDate" column="TEST_DATE"/>
            </collection>

            <!-- Qualification 컬렉션 매핑 -->
            <collection property="qualifications" ofType="com.pado.inflow.employee.attach.query.dto.QualificationDTO">
                <result property="qualificationId" column="QUALIFICATION_ID"/>
                <result property="qualificationName" column="QUALIFICATION_NAME"/>
                <result property="qualificationNumber" column="QUALIFICATION_NUMBER"/>
                <result property="qualifiedAt" column="QUALIFIED_AT"/>
                <result property="issuer" column="ISSUER"/>
                <result property="gradeScore" column="GRADE_SCORE"/>
                <result property="employeeId" column="EMPLOYEE_ID"/>
            </collection>

            <!-- DisciplineReward 컬렉션 매핑 -->
            <collection property="disciplineRewards" ofType="com.pado.inflow.employee.attach.query.dto.DisciplineRewardDTO">
                <result property="disciplineRewardName" column="DISCIPLINE_REWARD_NAME"/>
                <result property="content" column="CONTENT"/>
                <result property="createdAt" column="CREATED_AT"/>
            </collection>
        </collection>
    </resultMap>


    <select id="getAIList" resultMap="ResultMap1" parameterType="string">
        SELECT
               E.EMPLOYEE_ID AS EMPLOYEE_ID
             , E.EMPLOYEE_NUMBER AS EMPLOYEE_NUMBER

             , CR.CAREER_ID AS CAREER_ID
             , CR.COMPANY_NAME AS COMPANY_NAME
             , CR.ROLE_NAME AS ROLE_NAME
             , DATE(CR.JOIN_DATE) AS JOIN_DATE
             , DATE(CR.RESIGNATION_DATE) AS RESIGNATION_DATE

             , EDU.EDUCATION_ID AS EDUCATION_ID
             , EDU.SCHOOL_NAME AS SCHOOL_NAME
             , EDU.ADMISSION_DATE AS ADMISSION_DATE
             , DATE(EDU.GRADUATION_DATE) AS GRADUATION_DATE
             , EDU.DEGREE AS DEGREE
             , EDU.MAJOR AS MAJOR

             , FM.FAMILY_MEMBER_ID AS FAMILY_MEMBER_ID
             , FM.NAME AS NAME
             , DATE(FM.BIRTH_DATE) AS BIRTH_DATE
             , FR.FAMILY_RELATIONSHIP_NAME AS FAMILY_RELATIONSHIP_NAME

             , LT.LANGUAGE_TEST_ID AS LANGUAGE_TEST_ID
             , LT.LANGUAGE_TEST_NAME AS LANGUAGE_TEST_NAME
             , LT.QUALIFICATION_NUMBER AS QUALIFICATION_NUMBER
             , LT.ISSUER AS ISSUER
             , DATE(LT.QUALIFIED_AT) AS QUALIFIED_AT
             , LT.GRADE_SCORE AS GRADE_SCORE
             , L.LANGUAGE_NAME AS LANGUAGE_NAME

             , Q.QUALIFICATION_ID AS QUALIFICATION_ID
             , Q.QUALIFICATION_NAME AS QUALIFICATION_NAME
             , Q.QUALIFICATION_NUMBER AS QUALIFICATION_NUMBER
             , DATE(Q.QUALIFIED_AT) AS QUALIFIED_AT
             , Q.ISSUER AS ISSUER
             , Q.GRADE_SCORE AS GRADE_SCORE

             , DR.DISCIPLINE_REWARD_NAME AS DISCIPLINE_REWARD_NAME
             , DR.CONTENT AS CONTENT
             , DATE(DR.CREATED_AT) AS CREATED_AT
          FROM EMPLOYEE E
         INNER JOIN CAREER CR ON CR.EMPLOYEE_ID = E.EMPLOYEE_ID
         INNER JOIN EDUCATION EDU ON EDU.EMPLOYEE_ID = CR.EMPLOYEE_ID
         INNER JOIN FAMILY_MEMBER FM ON FM.EMPLOYEE_ID = EDU.EMPLOYEE_ID
         INNER JOIN FAMILY_RELATIONSHIP FR ON FR.FAMILY_RELATIONSHIP_CODE = FM.FAMILY_RELATIONSHIP_CODE
         INNER JOIN LANGUAGE_TEST LT ON LT.EMPLOYEE_ID = FM.EMPLOYEE_ID
         INNER JOIN LANGUAGE L ON L.LANGUAGE_CODE = LT.LANGUAGE_CODE
         INNER JOIN QUALIFICATION Q ON Q.EMPLOYEE_ID = LT.EMPLOYEE_ID
         INNER JOIN DISCIPLINE_REWARD DR ON DR.EMPLOYEE_ID = Q.EMPLOYEE_ID
         <where>
            <if test="empId != null">
                E.EMPLOYEE_ID = #{empId}
            </if>
         </where>
    </select>


    <select id="getAIListDept" resultMap="ResultMap2" parameterType="string">
        SELECT
               DP.DEPARTMENT_CODE AS DEPARTMENT_CODE
             , DP.DEPARTMENT_NAME AS DEPARTMENT_NAME

             , E.EMPLOYEE_ID AS EMPLOYEE_ID
             , E.EMPLOYEE_NUMBER AS EMPLOYEE_NUMBER

             , CR.CAREER_ID AS CAREER_ID
             , CR.COMPANY_NAME AS COMPANY_NAME
             , CR.ROLE_NAME AS ROLE_NAME
             , DATE(CR.JOIN_DATE) AS JOIN_DATE
             , DATE(CR.RESIGNATION_DATE) AS RESIGNATION_DATE

             , EDU.EDUCATION_ID AS EDUCATION_ID
             , EDU.SCHOOL_NAME AS SCHOOL_NAME
             , EDU.ADMISSION_DATE AS ADMISSION_DATE
             , DATE(EDU.GRADUATION_DATE) AS GRADUATION_DATE
             , EDU.DEGREE AS DEGREE
             , EDU.MAJOR AS MAJOR

             , FM.FAMILY_MEMBER_ID AS FAMILY_MEMBER_ID
             , FM.NAME AS NAME
             , DATE(FM.BIRTH_DATE) AS BIRTH_DATE
             , FR.FAMILY_RELATIONSHIP_NAME AS FAMILY_RELATIONSHIP_NAME

             , LT.LANGUAGE_TEST_ID AS LANGUAGE_TEST_ID
             , LT.LANGUAGE_TEST_NAME AS LANGUAGE_TEST_NAME
             , LT.QUALIFICATION_NUMBER AS QUALIFICATION_NUMBER
             , LT.ISSUER AS ISSUER
             , DATE(LT.QUALIFIED_AT) AS QUALIFIED_AT
             , LT.GRADE_SCORE AS GRADE_SCORE
             , L.LANGUAGE_NAME AS LANGUAGE_NAME

             , Q.QUALIFICATION_ID AS QUALIFICATION_ID
             , Q.QUALIFICATION_NAME AS QUALIFICATION_NAME
             , Q.QUALIFICATION_NUMBER AS QUALIFICATION_NUMBER
             , DATE(Q.QUALIFIED_AT) AS QUALIFIED_AT
             , Q.ISSUER AS ISSUER
             , Q.GRADE_SCORE AS GRADE_SCORE

             , DR.DISCIPLINE_REWARD_NAME AS DISCIPLINE_REWARD_NAME
             , DR.CONTENT AS CONTENT
             , DATE(DR.CREATED_AT) AS CREATED_AT
          FROM EMPLOYEE E
         INNER JOIN CAREER CR ON CR.EMPLOYEE_ID = E.EMPLOYEE_ID
         INNER JOIN EDUCATION EDU ON EDU.EMPLOYEE_ID = CR.EMPLOYEE_ID
         INNER JOIN FAMILY_MEMBER FM ON FM.EMPLOYEE_ID = EDU.EMPLOYEE_ID
         INNER JOIN FAMILY_RELATIONSHIP FR ON FR.FAMILY_RELATIONSHIP_CODE = FM.FAMILY_RELATIONSHIP_CODE
         INNER JOIN LANGUAGE_TEST LT ON LT.EMPLOYEE_ID = FM.EMPLOYEE_ID
         INNER JOIN LANGUAGE L ON L.LANGUAGE_CODE = LT.LANGUAGE_CODE
         INNER JOIN QUALIFICATION Q ON Q.EMPLOYEE_ID = LT.EMPLOYEE_ID
         INNER JOIN DISCIPLINE_REWARD DR ON DR.EMPLOYEE_ID = Q.EMPLOYEE_ID
         INNER JOIN DEPARTMENT DP ON E.DEPARTMENT_CODE = DP.DEPARTMENT_CODE
         WHERE DP.DEPARTMENT_CODE = #{deptCode}
    </select>
</mapper>