<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pado.inflow.employee.attach.query.repository.CareerMapper">
    <resultMap id="ResultMap" type="com.pado.inflow.employee.attach.query.dto.CareerDTO">
        <id property="careerId" column="career_id"/>
        <result property="companyName" column="company_name"/>
        <result property="roleName" column="role_name"/>
        <result property="joinDate" column="join_date"/>
        <result property="resignationDate" column="resignation_date"/>
        <result property="employeeId" column="employee_id"/>
    </resultMap>

    <select id="getAllCareers" resultMap="ResultMap" parameterType="string">
        SELECT
               career_id
             , company_name
             , role_name
             , DATE(join_date) AS join_date
             , DATE(resignation_date) AS resignation_date
             , employee_id
          FROM career
         <where>
             <if test="employeeId != null">
                 employee_id = #{employeeId}
             </if>
         </where>
    </select>
</mapper>