<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pado.inflow.employee.attach.query.repository.EducationMapper">
    <resultMap id="ResultMap" type="com.pado.inflow.employee.attach.query.dto.EducationDTO">
        <id property="educationId" column="EDUCATION_ID"/>
        <result property="schoolName" column="SCHOOL_NAME"/>
        <result property="admissionDate" column="ADMISSION_DATE"/>
        <result property="graduationDate" column="GRADUATION_DATE"/>
        <result property="degree" column="DEGREE"/>
        <result property="major" column="MAJOR"/>
        <result property="employeeId" column="EMPLOYEE_ID"/>
    </resultMap>

    <select id="getAllEducation" resultMap="ResultMap" parameterType="string">
        SELECT
               EDUCATION_ID
             , SCHOOL_NAME
             , DATE(ADMISSION_DATE) AS ADMISSION_DATE
             , DATE(GRADUATION_DATE) AS GRADUATION_DATE
             , DEGREE
             , MAJOR
             , EMPLOYEE_ID
          FROM EDUCATION
         <where>
             <if test="employeeId != null">
                 WHERE EMPLOYEE_ID = #{employeeId}
             </if>
         </where>
    </select>
</mapper>