<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pado.inflow.employee.attach.query.repository.FamilyMemberMapper">
    <resultMap id="ResultMap" type="com.pado.inflow.employee.attach.query.dto.FamilyMemberDTO">
        <id property="familyMemberId" column="family_member_id"/>
        <result property="name" column="name"/>
        <result property="birthDate" column="birth_date"/>
        <result property="employeeId" column="employee_id"/>
        <result property="familyRelationshipName" column="family_relationship_name"/>
    </resultMap>

    <select id="getAllFamilyMemberList" resultMap="ResultMap" parameterType="string">
        SELECT
               A.family_member_id
             , A.name
             , A.birth_date
             , A.employee_id
             , B.family_relationship_name
          FROM family_member A INNER JOIN family_relationship B
            ON A.family_relationship_code = B.family_relationship_code
         <where>
             <if test="employeeId != null">
                 A.employee_id = #{employeeId}
             </if>
         </where>
    </select>

    <select id="getRelationships" resultType="hashmap">
        SELECT
               family_relationship_code
             , family_relationship_name
          FROM family_relationship
    </select>
</mapper>