<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pado.inflow.employee.attach.query.repository.QualificationMapper">
    <resultMap id="ResultMap" type="com.pado.inflow.employee.attach.query.dto.QualificationDTO">
        <id property="qualificationId" column="qualification_id"/>
        <result property="qualificationName" column="qualification_name"/>
        <result property="qualificationNumber" column="qualification_number"/>
        <result property="qualifiedAt" column="qualified_at"/>
        <result property="issuer" column="issuer"/>
        <result property="gradeScore" column="grade_score"/>
        <result property="employeeId" column="employee_id"/>
    </resultMap>

    <select id="getAllQualifications" resultMap="ResultMap">
        SELECT
               qualification_id
             , qualification_name
             , qualification_number
             , DATE(qualified_at) AS qualified_at
             , issuer
             , grade_score
             , employee_id
          FROM qualification
         <where>
             <if test="employeeId != null">
                 employee_id = #{employeeId}
             </if>
         </where>
    </select>
</mapper>